.about{
    justify-content: center;
    text-align: center;
    padding: 10rem;
}

.about> .image{
    border-radius: 0px;
    width: 50%;
    height: 50%;
}
.about-info{
    font-size: x-large;
    color: #5f4c4c;
    padding: 5rem;
}



/*-------responsive-------*/

@media screen and (max-width:700px){
   
    .about{
        padding:1rem;
        margin:10px;
    }
    .about>.image{
        height: 100%;
        width: 100%;
    }
    .about>.about-info{
        padding: 0.2rem;
    }
}