.body{
    padding: 5px;
}
.search{
    text-align: center;
}
.search>input{
    width: 60%;
    height: 30px;
}


/* CSS - button */
.button-37 {
  
  margin-left: 15px;
  background-color: brown;
  border: 1px solid brown;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}


.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list1,.list2{
  text-decoration: none;
  color: black;
}
.lower-body>.food1>h1,.lower-body>.food2>h1{
    color: brown;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    border: 1px solid brown;
    margin: 10px;
}

/*-------------responsive------------------*/
@media screen and (max-width:700px){
   
  .lower-body>.food1>h1{
    margin-top: 20px;
  }
  input{
    border: none;
  }
}

