
.footer{
    padding: 5px;
    margin: 5px;
    background-color:rgb(83, 1, 1);
    height: 150px;
    width: 100%;
}

.social-media{
    text-align: center;
    padding: 1rem;
}

.icon-1,.icon-2,.icon-3{
   
   margin: 20px;
}

.copy-right{
    text-align: center;
    color: white;
    font-weight:lighter;
    font-size: medium;
}