
.footer{
    position:static;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color:rgb(83, 1, 1);
    width: 100%;
}

.social-media{
    text-align: center;
    padding: 1rem;
}

.icon-1,.icon-2,.icon-3{
    font-size: 50px;
    color:white;
    text-decoration: none;
    margin: 30px;
}

.copy-right{
    text-align: center;
    color: white;
    font-weight:lighter;
    font-size: medium;
}

/*-------------responsive------------------*/
@media screen and (max-width:700px){
   
    .icon-1,.icon-2,.icon-3{
        font-size: 30px;
    }
    
}