
.searched_meal{
    justify-content: space-between;
    display: flex;
}

.search2{
    flex-wrap: wrap;
    display: flex;
}
.container{
    overflow: hidden;
    text-align: center;
    margin: 10px;
    height: 170px;
    width: 150px;
}
.container>img{
    padding:0.6rem;
    display: flex;
    height: 100px;
    width: 100px;
}
.container>h1{
    font-size: medium;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search3>h1{
    text-align: center;
    color: brown;
    border: 1px solid brown;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instruction{
    padding: 1rem;
    margin: 10px;
    font-weight: lighter;
    font-size: large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}